twitter_streaming.py
downloads/**
temp/**
docs/notes.md
nse_fillings/**
nse_fillings_attachments/**
stock_charts/**
stock_info/tji/**
stock_charts_copy/**
output/**
stock_results/**
stock_fillings/**

source/client/node_modules/**
source/server/node_modules/**


# Ignore all doc files
*.pdf
*.xls
*.xlsx
*.xlsm
*.log

# Ignore doc files in all directories
**/*.pdf
**/*.xls
**/*.xlsx
**/*.xlsm
docs/stock_ideas.docx
source/server/data/updated_yahoo_with_tji - Copy.csv
